@import "tailwindcss";

@theme {
  --color-purple: #2e2031;
  --color-green: #6c999c;
}

@keyframes scan {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

.animate-scan {
  animation: scan 1.5s ease-in-out infinite;
}
