---
import Clouds from "@components/Clouds.astro";
import Nighthawk from "@components/Nighthawk.astro";
---

<section class="relative h-screen bg-linear-to-b from-purple to-green">
  <Clouds />
  <Nighthawk />
</section>
