---
import Clouds from "@components/Clouds.astro";
import Missiles from "@components/Missiles.astro";
import Nighthawk from "@components/Nighthawk.astro";
import StartMenu from "@components/StartMenu.astro";
---

<section
  class="relative h-screen bg-linear-to-b from-purple to-green overflow-hidden"
>
  <Clouds />
  <Missiles />
  <Nighthawk />
  <StartMenu />
</section>
